<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ingress-glyph-recorder</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TracesServlet</display-name>
    <servlet-name>TracesServlet</servlet-name>
    <servlet-class>glyphrecorder.servlets.TracesServlet</servlet-class>
    <init-param>
      <param-name>traceDirectory</param-name>
      <param-value>D:\tomoto\projects\java\GlyphRecorder\WebContent\traces</param-value>
    </init-param>
    <init-param>
      <param-name>tracesFile</param-name>
      <param-value>D:\tomoto\projects\java\GlyphRecorder\WebContent\traces.json</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>TracesServlet</servlet-name>
    <url-pattern>/traces</url-pattern>
    <url-pattern>/unusedTraces</url-pattern>
  </servlet-mapping>
</web-app>